<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title}}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        	        <li><a href="/media">Media</a></li>
			<li><a href="/blog">Blog</a></li>
        		<li><a href="/contact">Contact</a></li>
    		</ul>
		</nav>
		<div class="container">
    
        {{ content }}
        
    		<div class="blurb">
			<h1> Rhoda K. Moise, Ph.D.</h1>
			<h2> Global Women's Wellness Researcher and Entrepreneur </h2> 	
			<p> <em> Welcome! As a Global Butterfly, I go where I please and please where I go!<em></p> 
			<p><a href="/about">Learn more about my life...</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
			<li><a href="https://www.linkedin.com/in/rmoise/">linkedin</a><li>
			<li><a href="https://twitter.com/RhodaMoise">twitter</a><li>
			<li><a href="https://www.instagram.com/rhodamoise/"instagram</a></li>
			</ul>
		</footer>
	</body>
</html>
